.contactts {
  font-size: 30px;
  font-weight: 900;
  margin-left: 30px;
  margin-bottom: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.looking-forward {
  margin-left: 20px;
  margin-top: -20px;
  opacity: 0.8;
  letter-spacing: 1px;
  font-size: 18px;
}

.cover {
  margin-left: 30px;
}

form {
  margin-left: 30px;
  margin-bottom: 30px;
}

form input {
  margin-bottom: 20px;
  padding: 12px 70px 12px 20px;
  outline: none;
  border: 1px solid black;
}

form input:hover {
  border: 2px solid black;
}

form label {
  letter-spacing: 1px;
  opacity: 0.8;
}

form #submit {
  background-color: gold;
  border: 1px solid black;
  border-radius: 50%;
  padding: -0px;
  width: 90px;
  height: 90px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (min-width: 760px) {
  .contactts {
    font-size: 30px;
    font-weight: 900;
    margin-left: 170px;
    margin-bottom: 40px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  .contact-trying {
    display: flex;
    gap: 6vh;
    margin-left: 160px;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 130px;
    margin-bottom: 30px;
    margin-right: 180px;
  }

  form #submit {
    background-color: gold;
    border: 1px solid black;
    border-radius: 50%;
    padding: -0px;
    width: 160px;
    height: 160px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .contacts-phone {
    padding-bottom: 50px;
  }

  .looking-forward {
    margin-left: 170px;
    margin-top: -20px;
    opacity: 0.8;
    letter-spacing: .7px;
    font-size: 16px;
  }

}