.resum {
  font-size: 30px;
  font-weight: 700;
  margin-left: 30px;
  margin-bottom: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.work-exp {
  font-size: 20px;
  font-weight: 900;
  margin-left: 30px;
  margin-bottom: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.first-exp {
  margin-left: 30px;
}

.first-exp p:nth-child(1) {
  font-size: 18px;
}

.first-exp p:nth-child(2) {
  font-weight: 900;
  font-size: 19px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -10px;
}

.first-exp p:nth-child(3) {
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 24px;
  margin-bottom: 80px;
}

.education-sec {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 27px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
      margin-bottom: 60px;
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
}

ul li {
  margin-left: 20px;
  padding-top: 20px;
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

@media screen and (min-width: 760px) {
  .first-exp {
    margin-left: 500px;
    margin-right: 30px;
  }

  .first-exp p:nth-child(1) {
    font-size: 18px;
    margin-left: -120px;
    margin-bottom: -28px;
  }

  ul {
    margin-bottom: 60px;
    margin-left: 460px;
    margin-right: 30px;
}



 }
