body {
  background-color: rgb(0, 3, 15);
  box-sizing: border-box;
  margin: 0;
  color: rgb(233, 224, 224);
  overflow-x: hidden;
}

/* for mobile */

@media screen and (max-width: 760px) {
  #ham-menu {
    color: rgb(255, 255, 255);
    font-size: 30px;
    float: right;
    margin-right: 20px;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: #fffefe;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .cls-round {
    padding: 1px;
    background-color: blue;
    margin-left: 10px;
    margin-top: 10px;
  }

  .port-logo {
    font-size: 30px;
    font-weight: 700;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 20px 20px 0;
  }

  .port-logo span,
  a {
    background: linear-gradient(20deg, #ff8c00, #ff2d55);
    -webkit-background-clip: text; /* For Safari */
  color: transparent;
  background-clip: text;
    text-decoration: none;
  }

  .section-one {
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .hello-h2 {
    font-size: 45px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 900;
  }

  .a-bit-about-me {
    background: linear-gradient(to right, #c91e12, #ff002f);
    -webkit-background-clip: text; /* For Safari */
  color: transparent;
  background-clip: text;
    font-size: 20px;
    font-weight: 700;
    font-family: Calibri, "Trebuchet MS", sans-serif;
  }

  .about-p {
    font-size: 17px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 500;
  }

  .section-two {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    margin-bottom: 30px;
  }

  .section-two div {
    border: 1px dotted red;
    padding: 14px;
    cursor: pointer;
    border-radius: 10%;
    font-size: 12px;
    font-weight: 800;
    font-family: "Times New Roman", serif;
  }

  .section-two div:nth-child(1) {
    background-color: rgb(24, 29, 49);
   font-weight: 900;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .section-two div:nth-child(2) {
    background-color: rgb(41, 52, 100);
    font-weight: 900;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .section-two div:nth-child(3) {
    background-color: rgb(67, 75, 119);
    font-weight: 900;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .profile-image img {
    display: flex;
    margin: 0 auto;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
  }

  .contacts-sec {
    margin-left: 30px;
  }

  .contacts-phone {
    margin-bottom: 30px;
  }

  .contacts-phone span:nth-child(1) {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: 900;
  }

  .my-no {
    font-family: "Courier New", Courier, monospace;
  }

  .contacts-email {
    margin-bottom: 30px;
  }

  .contacts-email span:nth-child(1) {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: 900;
  }

  .contacts-follow {
    margin-bottom: 30px;
  }

  .contacts-follow p:nth-child(1) {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: 900;
  }

  .contacts-follow span {
    padding: 0 20px 20px;
    font-size: 40px;
  }

  .footer {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    margin-left: 30px;
    font-weight: 300;
    font-size: 12px;
  }
}

/* for bigger screen sizes */
@media screen and (min-width: 760px) {
  
#ham-menu {
  display: none;
}

.closebtn {
  display: none;
}

.cls-round {
  padding: 1px;
  background-color: blue;
  margin-left: 10px;
  margin-top: 10px;
}

.port-logo {
  font-size: 30px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 20px 20px 0;
}

.port-logo span,
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.vertical-line {
  border-left: 1px solid black; 
  height: 20px;
  margin: 0 20px; 
}

.overlay-content {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
}

.overlay-content a:first-child {
  display: none;
}

.overlay-content a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bigger-style {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 100px;
  margin-left: 90px;
}

.profile-image img {
  display: flex;
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.hello-h2 {
  font-size: 45px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  margin-left: 40px;
}

.a-bit-about-me {
  font-size: 20px;
  font-weight: 700;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  margin-left: 40px;
}

.section-two div {
  display: none;
}

.about-p {
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.8px;
  word-spacing: 0.7px;
  font-weight: 400;
  margin-left: 40px;
  margin-right: 30px;
}

.contacts-sec {
  display: flex;
justify-content: space-around;
  margin-left: 20px;
}

.contacts-phone span:nth-child(1) {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 900;
}

.my-no {
  font-family: "Courier New", Courier, monospace;
}

.contacts-email span:nth-child(1) {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 900;
}

.contacts-follow p:nth-child(1) {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 900;
}

.contacts-follow span {
  padding: -10px 20px 20px;
  font-size: 18px;
}

.footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  margin-left: 30px;
  font-weight: 300;
  font-size: 12px;
}

}