body {
  background-color: rgb(240, 246, 247);
  box-sizing: border-box;
  margin: 0;
  color: rgb(0, 0, 0);
  overflow-x: hidden;
}
#ham-menu {
  color: rgb(34, 23, 23);
  font-size: 30px;
  float: right;
  margin-right: 20px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.cls-round {
  padding: 1px;
  background-color: blue;
  margin-left: 10px;
  margin-top: 10px;
}

.port-logo {
  font-size: 30px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px 20px 20px 0;
}

.port-logo span,
a {
  color: rgb(26, 24, 24);
  text-decoration: none;
}

.section-one {
  margin-left: 30px;
  margin-bottom: 30px;
}

.hello-h2 {
  font-size: 45px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
}

.a-bit-about-me {
  font-size: 20px;
  font-weight: 700;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

.about-p {
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.section-two {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  margin-bottom: 30px;
}

.section-two div {
  border: 1px solid red;
  padding: 18px;
  cursor: pointer;
  border-radius: 10%;
  font-size: 15px;
  font-weight: 800;
  font-family: "Times New Roman", serif;
}

.section-two div:nth-child(1) {
  background-color: gold;
}

.section-two div:nth-child(2) {
  background-color: red;
}

.section-two div:nth-child(3) {
  background-color: lightblue;
}

.profile-image img {
  display: flex;
  margin: 0 auto;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
}

.contacts-sec {
  margin-left: 30px;
}

.contacts-phone {
  margin-bottom: 30px;
}

.contacts-phone span:nth-child(1) {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 900;
}

.my-no {
  font-family: "Courier New", Courier, monospace;
}

.contacts-email {
  margin-bottom: 30px;
}

.contacts-email span:nth-child(1) {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 900;
}

.contacts-follow {
  margin-bottom: 30px;
}

.contacts-follow p:nth-child(1) {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 900;
}

.contacts-follow span {
 padding: 0 20px 20px;
  font-size: 40px;
}