.projectts {
  font-size: 30px;
  font-weight: 900;
  margin-left: 30px;
  margin-bottom: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.proj-one {
  margin-left: 10px;
  margin-right: 10px;
}

.proj-one p {
  font-size: 23px;
  font-weight: 800;
  margin-bottom: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.8px;
}

.proj-one div {
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 24px;
}

.project-text {
  font-family: sans-serif;
  font-weight: 600; 
  background-color: rgba(15, 19, 41, 0.2); 
  padding-left: 10px; 
  padding-right: 10px; 
  padding-bottom: 10px; 
  margin-top: 10px; 
  border-radius: 2%;
  border: 0.1px solid white;
}


@media screen and (min-width: 760px) {
 .proj-trying {
  display: flex;
  justify-content: space-around;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 10px;
 }

.proj-trying-two {
  display: flex;
  justify-content: space-around;
  margin-left: 120px;
  margin-right: 120px;
}
}